[submodule "VirtualDesktopHotkeys"]
	path = VirtualDesktopHotkeys
	url = https://github.com/Dacrol/VirtualDesktopHotkeys.git
[submodule "AHKToleranceTest"]
	path = AHKToleranceTest
	url = https://github.com/Dacrol/AHKToleranceTest.git
[submodule "NieR_Automata-UtilityScript"]
	path = NieR_Automata-UtilityScript
	url = https://github.com/Dacrol/NieR_Automata-UtilityScript.git
[submodule "instant-youtube-dl"]
	path = instant-youtube-dl
	url = https://github.com/Dacrol/instant-youtube-dl.git
